<header>
  <nav class="navbar">
    <h1 class="text-logo">KeroUmPet</h1>
    <img class="img" src="./assets/img/logo.png" alt="logotipo">
    
    <ul class="nav-list">
      <li (click)="navigate('/home')">Home</li>
      <li (click)="navigate('/pets')">Pets</li>
      <li *ngIf="!user">Contato</li>
      <li *ngIf="user" (click)="navigate('/createPet')"> Adicionar </li>
      <li  *ngIf="!user"  (click)="navigate('/login')">Login</li>
      <li  *ngIf="user"   (click)="exit()" (click)="navigate('/login')">Logout</li>
    </ul>
</nav>

</header>
