.container-main {
 
 max-width: 1200px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid red;



   .container-data {
     display: flex;
    justify-content: space-around;
   width: 1200px;
 
    
    border: 1px solid black;

    .data-user-name{
      margin-left: 60px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      text-align: center; 
      .title{
        margin-bottom: 10px;
        font-size: 1.2rem;
        letter-spacing: 1.125;
      } 
    }

    .data-user{      
      display: flex;
      flex-direction: column;
      padding: 10px;
      text-align: center;    
      
     
      
      .title{
        margin-bottom: 10px;
        font-size: 1.2rem;
        letter-spacing: 1.125;
      }   
    }
   }


   .container-pets{
     display: flex;
     justify-content: center;
   }


}


