.card-pets {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  margin-top: 40px;

  .card-pet {
    background: #97e9fd76;    
    box-shadow: 0 0 10px black;
    padding: 20px;
    border-radius: 10px 10px 0 0;

    .item-pet {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      font-size: 1.225rem;
      border: 1px solid #00aad576;
      border-radius: 4px;
    }

    .item-pet img {
      max-width: 100%;
      width: 200px;
      height: 130px;
    }
  }
}

.button {
  display: flex;
}
.button button {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  background-color: #00aad576;
  border: none;

  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}
