<app-header></app-header>
<main>
   <!-- {{userForm.value | json}}  -->
  <h1 class="text">Faça seu cadastro e contribua com essa comunidade.</h1>

  <form [formGroup]="userForm">
    <div class="container-input">
      <h2 class="text-aux">Dados Cadastrais</h2>

      <div class="inputArea">
        <input
          type="text"
          formControlName="name"          
          placeholder="Nome da Instituição"/>
      </div>

      <div class="inputArea">
  
        <input
          type="email"
          formControlName="email"         
          placeholder="Insira o email"
        />
      </div>
      <div class="inputArea">
        <input
          type="number"
          formControlName="cnpj"   
          placeholder="Insira o CNPJ - somente números"
        />

      </div>

      <div class="inputArea">
  
        <input
          type="text"
          formControlName="district"        
          placeholder="Qual o seu bairro?"
        />
      </div>

      <div class="inputArea">

        <input
          type="password"
          formControlName="password"         
          placeholder="Insira sua senha"          
        />
        <span class="error" *ngIf="userForm.controls['password'].errors && (
        userForm.controls['password'].errors['minlength'])
        ">
        Digite senha válida, minimo 6 caracteres!
  </span>
      </div>
       <button type="submit" 
        [disabled]="userForm.invalid" 
        (click)="onSubmit()" 
         class="button">Salvar</button>
    </div>

   
  </form>
</main>
<app-footer></app-footer>
