
<app-header></app-header>
<main class="login-container">
<div class="login-box">
  <h1>Olá, 
    venha participar dessa grande comunidade.
  </h1>
  <img class="login-cao" src="./assets/img/login2.png" alt="">
</div>



  <div class="login-form">
    <h1>Faça login
    e cadastre seus
    seus amipets.</h1>
   
    <form class="form"> 
      
      <div class="input-text">

        <input type="email" [(ngModel)]="email" name="user" placeholder="Insira seu Email">
       

      </div>

      <div class="input-text">
        <input type="password" [(ngModel)]="password" name="password" placeholder="Insira sua Senha" >
        

      </div>

      <button (click)="loginUser()" type="button"
      [disabled]="!email|| !password">Entrar</button> 
      <p>Não possui cadastro?</p>

      <button (click)="navigateByRegister('/register')">Cadastrar</button>

    </form>
  </div>

</main>
<app-footer></app-footer>
