<footer class="container-footer">

<section class="footer-data">
 <div class="card-footer">
   <h3>Sobre</h3>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, maiores perspiciatis? Illo quidem odio quia atque tenetur, velit cupiditate dignissimos incidunt beatae? Itaque ex nulla sequi, incidunt alias ad eum.</p>
 </div>

 <div class="card-footer">
  <h3>Contatos</h3>
  <ul class="contact-footer">
    <li class="contact-item"><img src="./assets/img/telephone.png" alt="Telefone"> {{telephone}}</li>
    <li class="contact-item"><img src="./assets/img/envelope.png" alt="email">{{email}}</li>
    <li class="contact-item"><img src="./assets/img/marcador.png" alt="localização">Rua KeroUmPet, 555</li>
    <li class="contact-item"><img src="./assets/img/calendario.png" alt="data atual">{{date | date}}</li>
  </ul>
 </div>

</section>
<hr>
<p class="final-footer">
  @Ayrton Rodrigues - Todos os direitos reservados
</p>
</footer>
