<app-header></app-header>
<main>
  <div class="container">
    <h1 class="title">
      AQUI VOCÊ ENCONTRA O SEU MELHOR AMIGO E PODE CONTRIBUIR FAZENDO DOAÇÕES
      PARA AS ONG'S PARCEIRAS.
    </h1>

    <button class="button">SAIBA MAIS</button>
  </div>
</main>

<section class="benefits">
  <h2 class="benefits-title">Beneficíos</h2>

  <div class="benefits-container">
    <div class="benefits-item">
      <h2>Beneficío 1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
        praesentium, tempore illo quibusdam
      </p>
    </div>
    <div class="benefits-item">
      <h2>Beneficío 1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
        praesentium, tempore illo quibusdam
      </p>
    </div>
    <div class="benefits-item">
      <h2>Beneficío 1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
        praesentium, tempore illo quibusdam
      </p>
    </div>
  </div>
</section>

<section class="tutorial">
  <h2 class="tutorial-title">Facilidades da KeroUmPet</h2>
  <div class="tutorial-container">
    <h3>Agende uma visita</h3>
    <div class="tutorial-item">
      <img
        class="img-tutorial"
        src="./assets/img/logo.png"
        alt="imagem de um cachorro"
      />
      <p class="text-tutorial">
        Para conquistar seu novo amigo, basta navegar pela aba dos pets
        disponíveis, achar aquele match e agendar uma visita para conhecer o seu
        amigâo pessoalmente.
      </p>
    </div>
    <h3>Ajude nossos amipets</h3>
    <div class="tutorial-item">
      <img
        class="img-tutorial"
        src="./assets/img/doacao.png"
        alt="Faça uma doação"
      />
      <p class="text-tutorial">
        Hoje as ongs que cuidam dos nossos pets em situação de abandono sofrem
        com o baixo orçamento e através do KeroUmPet, você pode fazer doações
        para diversas ONG's de forma direta.
      </p>
    </div>
    <h3>Mais perto do que se imagina!</h3>
    <div class="tutorial-item">
      <img
        class="img-tutorial"
        src="./assets/img/pc.png"
        alt="Smartphones, tablets e pc's"
      />
      <p class="text-tutorial">
        Você que deseja adotar um novo amigo tem a facilidade de poder encontrar
        diversos pets que desejam um lar com apenas um click através de seu
        smartphone, pc ou tablet.
      </p>
    </div>
  </div>
</section>

<section class="depoiments">
  <div class="depoiments-first">
    
    <h2 class="depoiments-title">Depoimentos</h2>
    <div class="depoiments-container">
      <button class="button-depoiments" (click)="previousElement()">
        <img src="./assets/img/setaE.png" alt="Depoimento anterior" />
      </button>
      

      <div class="depoiments-item">
        <p>{{ depoiments[sum].name }}</p>
        <p><q>{{ depoiments[sum].description }}</q></p>
      </div>
      <button class="button-depoiments" (click)="nextElement()">
        <img src="./assets/img/setaD.png" alt="Próximo depoimento" />
      </button>
    </div>
  </div>
</section>
<app-footer></app-footer>
