.container{
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 50px;
  min-height: 700px;
  
}

.pets{
  border: 1px solid red;
  
}

.users {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: aqua;


}